.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0; // Adjust as per your design preference

    h1 {
        color: #007BFF; // Primary Blue
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.4em;
        color: #555; // Slightly dark gray for subheading
        margin-bottom: 30px;
    }

    .startQuizButton {
        padding: 10px 25px;
        font-size: 1.2em;
        color: #fff;
        background-color: #007BFF;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }

        &:active {
            background-color: #004499;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
        }
    }
}
